<html>
	<h1>
		Register a new account
	</h1>
	<form method="POST" action="/signup">
		<div>Email: <input name="userId" id="userId" type="text" size="40" maxlength="100" /></div>
		<div>Name: <input name="userNm" id="userNm" type="text" size="40" /></div>
		<div>Password: <input name="userPw" id="userPw" type="password" size="40" /></div>
		<div>Confirm Password: <input name="userPw2" id="userPw2" type="password" size="40" /></div>
		<div><input type="submit" value="Submit" /></div>
	</form>
</html>
